<a href="https://colab.research.google.com/github/Danhh-zk/Python-3-Programming/blob/main/Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- Write code to create a list of integers from 0 through 52 and assign that list to the variable numbers. You should use the Python range function and don’t forget to covert the result to a list – do not type out the whole list yourself.

In [ ]:
numbers = list(range(53))

2- Count the number of characters in string str1. Do not use len(). Save the number in variable numbs.

In [ ]:
str1 = "I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living."
numbs = 0

for char in str1:
    numbs += 1

print("Number of characters in str1:", numbs)

Number of characters in str1: 90

3-Create a list of numbers 0 through 40 and assign this list to the variable numbers. Then, accumulate the total of the list’s values and assign that sum to the variable sum1.

In [ ]:
numbers = list(range(41))
sum1=sum(numbers)

4-
In Robert McCloskey’s book Make Way for Ducklings, the names of the ducklings are Jack, Kack, Lack, Mack, Nack, Ouack, Pack, and Quack. This loop tries to output these names in order.

Of course, that’s not quite right because Ouack and Quack are misspelled. Can you fix it?

In [ ]:
duckling_names = ["Jack", "Kack", "Lack", "Mack", "Nack", "Ouack", "Pack", "Quack"]

for suffix in duckling_names:
    print(suffix)

Jack
Kack
Lack
Mack
Nack
Ouack
Pack
Quack

5-Get the user to enter some text and print it out in reverse order.

In [ ]:
user_input = input("Enter some text: ")
reversed_text = user_input[::-1]
print("Reversed text:", reversed_text)

Enter some text: danah
Reversed text: hanad

6- Write a program that uses a for loop to print
One of the months of the year is January
One of the months of the year is February
One of the months of the year is March
etc …

In [ ]:
for amonth in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'November', 'December']:
    print("One of the months of the year is", amonth)

One of the months of the year is January
One of the months of the year is February
One of the months of the year is March
One of the months of the year is April
One of the months of the year is May
One of the months of the year is June
One of the months of the year is July
One of the months of the year is August
One of the months of the year is September
One of the months of the year is November
One of the months of the year is December

7- Assume you have a list of numbers 12, 10, 32, 3, 66, 17, 42, 99, 20

Write a loop that prints each of the numbers on a new line.

Write a loop that prints each number and its square on a new line.

In [ ]:
numbers = [12, 10, 32, 3, 66, 17, 42, 99, 20]

print("Each number on a new line:")
for number in numbers:
    print(number)

Each number on a new line:
12
10
32
3
66
17
42
99
20

In [ ]:
numbers = [12, 10, 32, 3, 66, 17, 42, 99, 20]

print("Each number and its square on a new line:")
for number in numbers:
    square = number ** 2
    print(f"{number} squared is {square}")

Each number and its square on a new line:
12 squared is 144
10 squared is 100
32 squared is 1024
3 squared is 9
66 squared is 4356
17 squared is 289
42 squared is 1764
99 squared is 9801
20 squared is 400

8- Write one for loop to print out each character of the string my_str on a separate line.

In [ ]:
my_str = "MICHIGAN"
for n in my_str:
    print(n)

M
I
C
H
I
G
A
N

9-Write one for loop to print out each element of the list several_things. Then, write another for loop to print out the TYPE of each element of the list several_things. To complete this problem you should have written two different for loops, each of which iterates over the list several_things, but each of those 2 for loops should have a different result.

In [ ]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]

for n in several_things:
    print(n)

for n in several_things:
    print(type(n))

hello
2
4
6.0
7.5
234352354
the end

99
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

10-Write code that uses iteration to print out the length of each element of the list stored in str_list.

In [ ]:
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]

# Write your code here.
for n in str_list:
    print(len(n))

5
0
7
9
13