<a href="https://colab.research.google.com/github/Danhh-zk/Python-3-Programming/blob/main/Transforming__Sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- For each word in the list verbs, add an -ing ending. Save this new list in a new list, ing

In [1]:
verbs = ["kayak", "cry", "walk", "eat", "drink", "fly"]
ing=[]
for word in verbs:
    x=word+"ing"
    ing.append(x)

print(ing)

['kayaking', 'crying', 'walking', 'eating', 'drinking', 'flying']

2-Given the list of numbers, numbs, create a new list of those same numbers increased by 5. Save this new list to the variable newlist.

In [2]:
numbs = [5, 10, 15, 20, 25]
newlist=[]
for numbers in numbs:
    x=numbers+5
    newlist.append(x)

print(newlist)

[10, 15, 20, 25, 30]

3-For each number in lst_nums, multiply that number by 2 and append it to a new list called larger_nums.

In [3]:
lst_nums = [4, 29, 5.3, 10, 2, 1817, 1967, 9, 31.32]
larger_nums=[]
for numbers in lst_nums:
    x=numbers*2
    larger_nums.append(x)

print(larger_nums)

[8, 58, 10.6, 20, 4, 3634, 3934, 18, 62.64]

4-For each character in the string already saved in the variable str1, add each character to a list called chars.

In [4]:
str1 = "I love python"
# HINT: what's the accumulator? That should go here.
chars=[]
for char in str1:
    x=char
    chars.append(x)

print(chars)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

5-Write code to take ‘London’ out of the list trav_dest.

In [5]:
trav_dest = ["Paris", "New York", "London", "Tokyo", "Sydney"]
trav_dest.remove("London")

print(trav_dest)

['Paris', 'New York', 'Tokyo', 'Sydney']

6-Write code to add ‘Guadalajara’ to the end of the list trav_dest using a list method.

In [6]:
trav_dest = ["Paris", "New York", "London", "Tokyo", "Sydney"]
trav_dest.append("Guadalajara")

print(trav_dest)

['Paris', 'New York', 'London', 'Tokyo', 'Sydney', 'Guadalajara']